@font-face {
    font-family: Yekan;
    src: url(../ref_source/fonts/Yekan.eot), url(../ref_source/fonts/Yekan.ttf) format('truetype'), url(../ref_source/fonts/Yekan.ttf) format('svg');
    font-weight: 500;
    font-style: normal;
}
/* #client{
    display: none;
} */

#admin{
    display: none;
}

a{
    color: #7c7c7c;
    cursor: pointer;
}
a:hover{
    color: #313131;
}

#left{
    font-family: Yekan;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    border-radius: 0 30px 30px 0;
    background-color: black;
}
#right{
    font-family: Yekan;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    display: inline-block;
}

img{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 30px 30px 0;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

input{
    font-size: 100%;
    margin: 5% 0;
    height: 200%;
    border: none;
    border-bottom: solid #9756FC 2px;
}
::placeholder {
    font-family: Yekan;
    direction: rtl;
    text-align: right;
    color: #9756FC;
}

input:focus{
    outline: none;
    border-bottom: solid #9756FC 5px;
    transition: ease-in-out .2s ;
}

button{
    margin: 5% 0;
    padding: 3% 0;
    font-size: 100%;
    font-family: Yekan;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #9756FC;
    color: white;
    transition: ease-in-out .2s ;
}
button:hover{
    background-color: #6f41b9;
    transition: ease-in-out .2s ;
}