@font-face {
    font-family: Yekan;
    src: url(./fonts/Yekan.eot), url(./fonts/Yekan.ttf) format('truetype'), url(./fonts/Yekan.svg) format('svg');
    font-weight: 500;
    font-style: normal;
}
#Loading{
    font-family: Arial, Helvetica, sans-serif;
    direction: ltr;
}
body{
    font-family: Yekan;
}
img{
    width: 100px;
    height: 100px;
}
.card{

    font-size: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid;
    text-align: center;
}
.rootings{
    padding: 10px;
    background-color: aqua;
    margin: 10px;
}

#junk{
    padding: 10px;
    background-color: blueviolet;
}